<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Students database in Go!</title>
	<style>
		html {
			font-size: 14px;
		}
		table, th, td {
			border: 2px solid blue;
		}
	</style>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>Full name</th>
				<th>Phone number</th>
				<th>Age</th>
				<th>Major</th>
				<th>IPv4 Address</th>
				<th>Date and time</th>
			</tr>
		</thead>
		<tbody>
			{{ range . }}
			<tr>
				<td>{{ .FullName }}</td>
				<td>{{ .Phone }}</td>
				<td>{{ .Age }}</td>
				<td>{{ .Major }}</td>
				<td>{{ .IP }}</td>
				<td>{{ .DateTime }}</td>
			</tr>
			{{ end }}
		</tbody>
	</table>
</body>
</html>
